[submodule "eureka-service"]
	path = eureka-service
	url = https://github.com/kunalbarchha/eureka-service
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/kunalbarchha/gateway-service
[submodule "user-service"]
	path = user-service
	url = https://github.com/kunalbarchha/user-service
[submodule "database-module"]
	path = database-module
	url = https://github.com/kunalbarchha/database-module
[submodule "kafka-module"]
	path = kafka-module
	url = https://github.com/kunalbarchha/kafka-module
